.box{
    text-align: center;
    border: 1px solid rgb(199, 211, 189);
    width: 278px;
    background-color:rgb(221, 248, 243);
    border-radius:25px;
    
    padding: 20px;
    margin: auto; 
}
.img{height: 270px;
    width: 276px;
    border-radius: 30px;
    padding: 0%;
    margin: auto;
    

}
.center{
    border-radius: 10px;
}
.para{
    font-weight: bolder;
}
.btn:hover{
    text-align: center;
}
.btn{
    text-align: center;
    color: rgb(0, 255, 247);
    background-color: rgb(189, 209, 211);
    border-radius: 15px;
    padding: 8px 15px;
    font-weight: 600;
    border: none;
}